.sss {

    .item {
        position: relative;
        margin-right: 8px;
        // left: -40px;

        .img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.ntf_item_wrap {
    .ntf_item {
        width: fit-content;
        box-shadow: 0px 2px 10px rgba(17, 20, 45, .12);
        border-radius: 10px;
        margin: 6px;
        overflow: hidden;
        position: relative;
        transition: 300ms;

        .selected_icon {
            position: absolute;
            right: 16px;
            top: 16px;
            // width: 20px;
            // height: 20px;
            overflow: hidden;
            border-radius: 50%;
            background-color: #3772ff;
            padding: 8px;
        }

        .info {
            box-sizing: border-box;
            padding: 8px;
            height: 60px;
            font-size: 14px;
        }

        strong {
            margin-bottom: 6px;
        }
    }

    .selected {
        box-shadow: 0px 0px 0px 3px #3772ff, 0px 2px 10px rgba(17, 20, 45, .12) !important;
    }
}