.slider {
    width: 274px;
    padding: 12px;
    flex-shrink: 0;
    box-shadow: 0 2px 8px rgba(0, 34, 55, 0.1);

    &-item {
        width: 72px;
        height: 48px;
        font-size: 18px;
        color: var(--text-color);
        font-weight: bold;
        border-radius: 8px;
        transition: 400ms;
    }

    .act {
        box-sizing: border-box;
        border: 1px solid #000;
        color: var(--act-text-color);
    }

    .input-box {
        // background-color: #eee;
        border: 1px solid #eee;
        height: 48px;
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;

        .input {

            height: 48px;
            width: 90px;

            .semi-input-wrapper {
                border: none !important;
                background: none !important;
            }
        }

    }

    input {
        font-weight: bold;
        font-size: 18px !important;
        text-align: center !important;
    }

    .dig {
        position: absolute;
        font-weight: bold;
        font-size: 18px !important;
        right: 20px;
        bottom: 50%;
        transform: translate(0, 50%);
    }
}